:host {
  display: flex;
  flex: 1;

  .button {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    border-radius: 40px;
    padding: var(--theme-spacing-rem);
    font-weight: 600;
    background-color: var(--theme-color-primary);
    color: var(--theme-color-background);
    line-height: 1;

    &.outline {
      background-color: unset;
      color: var(--theme-color-primary);
      border: var(--border-small) var(--theme-color-primary);
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.36;
    }
  }
}
