<form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
  <app-date-control
    [formControl]="$any(form.controls['date_of_accident'])"
    [placeholder]="'car-crash.crash.date-of-accident.placeholder' | transloco"
    [label]="'car-crash.crash.date-of-accident.label' | transloco"
    [submitted]="submitted">
  </app-date-control>

  <app-text-control
    [formControl]="$any(form.controls['country'])"
    [placeholder]="'car-crash.crash.country.placeholder' | transloco"
    [label]="'car-crash.crash.country.label' | transloco"
    [submitted]="submitted">
  </app-text-control>

  <app-text-control
    [formControl]="$any(form.controls['place'])"
    [placeholder]="'car-crash.crash.place.placeholder' | transloco"
    [label]="'car-crash.crash.place.label' | transloco"
    [submitted]="submitted">
  </app-text-control>

  <app-number-control
    [formControl]="$any(form.controls['participants'])"
    [placeholder]="'car-crash.crash.participants.placeholder' | transloco"
    [label]="'car-crash.crash.participants.label' | transloco"
    [submitted]="submitted">
  </app-number-control>

  <app-yes-no-checkbox
    [formControl]="$any(form.controls['injuries'])"
    [label]="'car-crash.crash.injuries.label' | transloco"
    [submitted]="submitted">
  </app-yes-no-checkbox>

  <app-yes-no-checkbox
    [formControl]="$any(form.controls['vehicle_material_damage'])"
    [label]="'car-crash.crash.vehicle-material-damage.label' | transloco"
    [submitted]="submitted">
  </app-yes-no-checkbox>

  <app-yes-no-checkbox
    [formControl]="$any(form.controls['other_material_damage'])"
    [label]="'car-crash.crash.other-material-damage.label' | transloco"
    [submitted]="submitted">
  </app-yes-no-checkbox>

</form>
