<ng-container *ngIf="control">
  <ng-container *ngIf="control.errors">
    <div class="invalid-feedback">
      <ng-container *ngIf="control?.hasError(validatorErrors.apiValidationError);">
        <span>
          {{ control.getError(validatorErrors.apiValidationError) }}
        </span>
      </ng-container>

      <ng-container *ngIf="control?.hasError(validatorErrors.validatePhoneNumber) && !control?.errors?.[validatorErrors.validatePhoneNumber]['valid'];">
        <span>
          {{ 'shared.forms/validators.labels.phone_number.val' | transloco }}
        </span>
      </ng-container>

      <ng-container *ngIf="control.errors[validatorErrors.minlength]">
        <span>
          {{
          'shared.forms/validators.labels.min_length.val'
            | transloco : {minLength: control.errors[validatorErrors.minlength]?.requiredLength}
          }}
        </span>
      </ng-container>

      <ng-container *ngIf="control.errors[validatorErrors.maxlength]">
        <span>
          {{
          'shared.forms/validators.labels.max_length.val'
            | transloco : {maxLength: control.errors[validatorErrors.maxlength]?.requiredLength}
          }}
        </span>
      </ng-container>

      <ng-container *ngIf="control.errors[validatorErrors.required]">
        <span>
          {{ 'shared.forms/validators.labels.control_required.val' | transloco }}
        </span>
      </ng-container>

      <ng-container *ngIf="control.errors[validatorErrors.email]">
        <span>
          {{ 'shared.forms/validators.labels.email_format.val' | transloco }}
        </span>
      </ng-container>

      <ng-container *ngIf="control.errors[validatorErrors.ngbDate]">
        <ng-container *ngIf="control.errors[validatorErrors.ngbDate].invalid !== undefined">
          <span>
            {{ 'shared.forms/validators.labels.date_invalid.val' | transloco }}
          </span>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>

</ng-container>
