:host {
  display: flex;
  flex: 1;
  overflow-wrap: anywhere;

  .information-panel {
    color: var(--theme-color-background);

    app-svg-comp {
      color: var(--theme-color-light)
    }
  }
}


