:host {
  display: flex;
  flex: 1;
  overflow-wrap: anywhere;

  .small {
    h2 {
      font-size: 1.3rem;
    }
  }

  .information-panel {
    color: var(--theme-color-background);
  }

  .help-text {
    font-size: 1.3rem;
    white-space: pre-line;
  }
}


