<div class="d-flex justify-content-center align-items-center flex-column p-5">
  <div class="qr-code-info">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at neque feugiat, elementum tortor a, cursus ligula. Vivamus leo metus, luctus sed nulla et
  </div>

  <i class="bi bi-qr-code-scan qr-code"></i>

  <button class="btn btn-primary mt-3 w-100" [routerLink]="'/scan'">
    {{ 'car-crash.shared.button.scan_qr_code' | transloco }}
  </button>

  <div class="or-text mt-3 mb-3 text-center">
    --- or ---
  </div>

  <button type="submit" class="btn btn-primary w-100">
    {{ 'car-crash.shared.button.enter_code' | transloco }}
  </button>
</div>
