<app-stepper [steps]="steps" [currentStep]="step">
</app-stepper>

<ng-template [ngIf]="car">
  <app-policy-holder-form #policyHolderForm *ngIf="step === 1"></app-policy-holder-form>
  <app-insurance-form #insuranceForm *ngIf="step === 2"></app-insurance-form>
  <app-driver-form #driverForm *ngIf="step === 3"></app-driver-form>
  <app-circumstance-form #circumstanceForm *ngIf="step === 4"></app-circumstance-form>
  <app-car-condition [car]="car" [step]="innerStep" *ngIf="step === 5"></app-car-condition>

  <div class="d-flex d-md-block">
    <button class="btn btn-outline-primary btn-sm-full-width mt-3 me-3" (click)="back()">
      {{ 'car-crash.shared.button.back' | transloco }}
    </button>

    <button type="submit" class="btn btn-primary btn-sm-full-width mt-3" (click)="nextStep()">
      <ng-container *ngIf="isLastStep; else next">
        {{ 'car-crash.shared.button.confirm' | transloco }}
      </ng-container>
      <ng-template #next>
        {{ 'car-crash.shared.button.next' | transloco }}
      </ng-template>
    </button>
  </div>
</ng-template>
