<div class="form-group">
  <div class="form-check-label">{{ label }}</div>
  <div class="d-flex gap-2">
    <div>
      <div [class.checked]=" formControl.value === true"  class="btn btn-custom-checkbox" (click)="handleModelChange(true)" >Yes</div><br>
    </div>

    <div>
      <div [class.checked]="formControl.value === false" class="btn btn-custom-checkbox" (click)="handleModelChange(false)">NO</div><br>
    </div>
  </div>

  <app-form-errors *ngIf="submitted" [control]="formControl"></app-form-errors>
</div>
