.btn-custom-checkbox {
  border: 1px solid var(--bs-gray-400) !important;
  color: var(--bs-gray-700) !important;
}
.checked {
  background-color: var(--bs-gray-700) !important;
  color: var(--bs-gray-100) !important;
}

:host {
  margin-top: -10px;
}
