<div class="form-group">
  <label [htmlFor]="_id">{{ label }}</label>

  <ngx-intl-tel-input
    [id]="_id"
    [cssClass]="'custom'"
    [preferredCountries]="[CountryISO.Slovenia, CountryISO.Croatia]"
    [enableAutoCountrySelect]="false"
    [enablePlaceholder]="true"
    [searchCountryFlag]="true"
    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
    [selectFirstCountry]="false"
    [separateDialCode]="true"
    [selectedCountryISO]="CountryISO.Slovenia"
    [maxLength]="15"
    [phoneValidation]="true"
    [formControl]="formControl"
    (ngModelChange)="handleModelChange($event)"
  ></ngx-intl-tel-input>
  <app-form-errors *ngIf="submitted" [control]="formControl"></app-form-errors>
</div>
