:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  app-input-section {
    z-index: 1;
  }

  .sketch-wrapper {
    position: relative;

    app-button {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  .canvas-container {
    flex: 1;
    height: 100%;
    margin-bottom: calc(var(--theme-spacing-rem) * -2);
  }

  .wait-notification {
    position: absolute;
    background-color: var(--light-ui-element);
    padding: 10px;
    border-radius: var(--border-radius-normal);
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
