<div class="flex flex-1 flex-column sketch-wrapper" [class.blur-canvas]="(value$ | async | canConfirmSketch) === false && (value$ | async | canEditSketch) === false">
  <div
    *ngIf="(value$ | async | canConfirmSketch) === false && (value$ | async | canEditSketch) === false"
    class="wait-notification"
  >
    {{ 'car-crash.sketch.editing-disabled' | transloco }}
  </div>
<!--  <div id="container-wrapper" class="container-wrapper">-->
<!--    <div *ngIf="imageUrl$ | async; else emptyTpl" style="position: absolute; z-index: 1">-->
<!--      <div>-->
<!--        <button *ngIf="value$ | async | canConfirmSketch" class="btn btn-primary me-3" (click)="confirmSketch()">Confirm sketch</button>-->
<!--        <button *ngIf="value$ | async | canEditSketch" class="btn btn-primary"  (click)="editSketch()">Edit sketch</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div id="canvas-container" #container class="canvas-container"></div>

  <app-button *ngIf="!(value$ | async)?.editing" class="next-button" [buttonText]="'car-crash.sketch.edit' | transloco" (click)="editSketch()"></app-button>
</div>

<ng-template #emptyTpl>
  <div class="alert alert-warning" role="alert">
    {{ 'car-crash.sketch.complete-other-questions' | transloco}}
  </div>
</ng-template>

<app-input-section
  [buttonName]="'car-crash.sketch.confirm' | transloco" (next)="confirmSketch()" (back)="back.emit()" [disabledButton]="(value$ | async | canConfirmSketch) === false">
</app-input-section>

