.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}


.add-button {
  font-size: 50px;
  color: var(--);
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}

.car-detail {
  flex: 1 0 160px;
}

.cars {
  .car:first-child {
    background-color: #a1e1ff;
  }
  .car:nth-child(2) {
    background-color: #f5f5bf;
  }
}
