<i class="add-button bi bi-plus-circle-fill" (click)="createCar()"></i>
<div class="row justify-content-center me-3 ms-3">
  <ng-template ngFor [ngForOf]="cars$ | async" let-car>
    <div class="card mt-3 col-3" (click)="editCar(car)">
      <div class="card-body d-flex">
        <div class="d-flex align-items-center">
          <i class="bi bi-car-front" style="font-size: 50px"></i>
        </div>
        <div class="ms-5 d-flex justify-content-between w-100 align-items-center">
          <div class="align-items-center">
            <div>
              <h4>
                {{ car.car_type }}
              </h4>
            </div>
            <div *ngIf="car.registration_plate" class="mt-3">
              {{ 'car-crash.home.car.registration-plate.label' | transloco }}: <b>{{ car.registration_plate }}</b>
            </div>
            <div *ngIf="car.registration_country">
              {{ 'car-crash.home.car.registration-country.label' | transloco }}: <b>{{ car.registration_country }}</b>
            </div>
          </div>
          <div class="flex-column d-flex gap-3">
            <button type="button" class="btn btn-sm btn-outline-secondary me-3" [routerLink]="'cars/' + car.id + '/policy-holder'">
              {{ 'car-crash.home.car.set-policy-holder' | transloco }}
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary me-3" [routerLink]="'cars/' + car.id + '/driver'">
              {{ 'car-crash.home.car.set-driver' | transloco }}
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary me-3" [routerLink]="'cars/' + car.id + '/insurance-company'">
              {{ 'car-crash.home.car.set-insurance' | transloco }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
