.todo-item {
  border: 1px solid var(--medium-ui-element);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.bi-check-circle {
  color: var(--bs-success);
}

.bi-circle {
  color: var(--bs-danger);
}

.bi-question-circle {
  color: var(--bs-warning);
}


/* Apply basic styles to details element */
details {
  margin-bottom: 10px; /* Adjust margin as needed */
  border: 1px solid var(--medium-ui-element);
  border-radius: 5px;
  padding: 10px;
}

/* Style summary element */
summary {
  cursor: pointer;
  font-weight: bold;
  outline: none;
}
