<div class="flex-container non-scrollable">

  <div class="chapter justify-content-space-between scrollable">
    <div class="flex flex-1 img-wrapper">
      <img class="logo-img" src="./assets/images/car-bot.png" alt="car-crash" width="60%"/>
    </div>
    <div class="chapter-info">
      <ng-container *ngIf="step">
        <h1> <span [innerHTML]="step.question"></span> </h1>
        <div class="help-text">
          <span [innerHTML]="step.help_text"></span>
        </div>
      </ng-container>
    </div>
  </div>

  <app-input-section (back)="back.emit()" (next)="next.emit()" [disabledButton]="!!errorText" [buttonName]="nextButtonName || ('car-crash.shared.next' | transloco)">
    <div *ngIf="errorText" class="warning-text">
      <span [innerHTML]="errorText"></span>
    </div>
  </app-input-section>
</div>
