:host {
  display: block;
}
.navbar {
  border-bottom: 1px solid var(--medium-ui-element);
  display: flex;
  justify-content: center;
  background-color: var(--bs-light);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navigate-back {
  position: absolute;
  left: 15px;
}
