$theme-colors: (
        "light":      #e8eae9,
        "dark":       #b27489,
        "primary":    #ff7d54,
        "secondary":  #636f76,
        "info":       #4ac1a3,
        "success":    #64b800,
        "warning":    #ffc67c,
        "danger":     #DC3545FF,
);

:root {
  --light-ui-element: #efeef1;
  --medium-ui-element: #9d9ba0;
  --strong-ui-element: #313032;
}
