$theme-colors: (
        "light":      #f8f0c2,
        "dark":       #341550,
        "primary":    #413ef7,
        "secondary":  #d75968,
        "info":       #26aa77,
        "success":    #0dac66,
        "warning":    #e6d004,
        "danger":     #f72002,
);

:root {
  --light-ui-element: #efeef1;
  --medium-ui-element: #9d9ba0;
  --strong-ui-element: #313032;
}
