<div class="navigation-bar">
  <div class="burger-menu-wrapper">
    <app-svg-comp name="burger-menu" width="1.7rem" (click)="toggleMenu()"></app-svg-comp>
  </div>

  <div class="flex flex-1">
    <div class="flex flex-column flex-1 gap-half">
      <div *ngIf="section" class="section-name">
        <div>
          {{ section.name }}
        </div>
        <div class="step-number">
          {{ sectionData.currentSectionIndex + 1 }}/{{ sectionData.sectionsLength }}
        </div>
      </div>
      <div class="app-progress-bar">
        <ng-container *ngFor="let i of sectionData.sectionsLength | times; let index=index">
          <div class="section" [class.completed]="sectionData.currentSectionIndex > index">
            <ng-container *ngIf="index === sectionData.currentSectionIndex">
              <ng-container *ngFor="let i of stepData.stepsLength | times; let indexStep=index">
                <div class="step" [class.completed]="stepData.currentStepIndex > indexStep">
                </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="crash">
    <div class="car-identifier">
      {{ (crash.creator | amICreator) ? 'A' : 'B' }}
    </div>
  </div>
  <div class="menu" [class.open]="menuOpened">
    <div class="flex flex-column form-layout top">
      <div class="flex justify-content-end">
        <app-svg-comp name="close" width="2rem" (click)="toggleMenu()"></app-svg-comp>
      </div>
      <div *ngIf="questionnaires$ | async; let questionnaires" class="flex">
        <ng-container *ngFor="let questionnaire of questionnaires; let i=index; let last=last; let first=first">
          <div *ngIf="crash" class="car-selector" [class.selected]="selectedCar === i" [class.last]="last" [class.first]="first" (click)="selectedCar=i">
            {{ (crash.creator | amICreator) ? 'A' : 'B' }}
          </div>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="questionnaires$ | async; let questionnaires">
      <app-section-overview
        *ngIf="crash && menuOpened"
        [questionnaires]="questionnaires"
        [questionnaire]="questionnaires[selectedCar]"
        [crash]="crash"
        [currentSection]="section"
        (sectionClicked)="toggleMenu()"
      >
      </app-section-overview>
    </ng-container>
  </div>
</div>
