<!--<camera-snapshot-->
<!--  (document-reader)="documentReaderHandler($event)"-->
<!--  start-screen-->
<!--  license="AAEAABBmWVwKhDA1oG8sQn2wSCaOqJVF7xEgi9lY1atcFHJNn5KObyqKbhY8lyW+tHzhZcjEcgJmOo5Aa73ot5KohpmaMRzKL0EEJ/z5fsBJeK5CaGD6JVmX8JP4eZPFBam8fyKVxVksNOJh3O1gthxGb5eNhoNGF2MT5gzCApw67bSne3X2KyVJeEEt/wvmmfhNUa/Tm2mHr70huUDkbMOhG3Y61dldcfRnzZGMS8YSiyj/VANxRaRJjvByQRZq3VJzrXtVl+n1hLqzWFiUrfiS7a/7jVh3FIjWgX7nAg/oApGEcdOkrB8h+5Txyto9JXyQjdXjA7K0Fn9ntUlEIHSOW+nkAAAAAAAAEJmLvp0m+LHs2EPWs3WUb6acaHpVHe++xIjVSmtpDntnXBKREb3mySvflEhfW5WWm2Qcf2dCYigXW6ImqKt8xUDYmRJo3J2fj525xnX+19wZihEieir97ISnCPAFG6jYGwmu6P1JJ8QlXqh1Q6+GPjt4pJgbRmslCk40ka27D0+92qFZVosS7mVTXfP9+5O/pm0XYQQ4JBfZkKMOIkcORzacbDd2Y9COi3BuVhPxZxtu8P9qJjsye3tjmSAwryr6XTVdaz6nksl1aI1Re/HoEC1Y4s9Jn9tkiAKc9OgTdz2v"></camera-snapshot>-->

<document-reader
  (document-reader)="documentReaderHandler($event)" #reader></document-reader>
