:host {

}


.ocr-scan {
  text-align: center;
  padding: 40px;
  border: 1px solid var(--medium-ui-element);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    border-color: var(--strong-ui-element)
  }

  app-svg-comp {
    color: var(--medium-ui-element);
    margin: auto;
    width: 40px;
    height: 40px;
  }
}

.ocr-reader {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
