:host {

}


.ocr-scan {
  text-align: center;
  padding: 40px;
  border: 1px solid var(--medium-ui-element);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    border-color: var(--strong-ui-element)
  }

  app-svg-comp {
    color: var(--medium-ui-element);
    margin: auto;
    width: 40px;
    height: 40px;
  }
}

.ocr-reader {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  &.full-screen {
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }
}
