<google-map
  #map
  id="map"
  height="100%"
  width="100%"
  [class.drawing]="drawingEnabled"
  [options]="mapOptions"
  (mousedown)="drawFreeHand($event)"
  (touchstart)="drawFreeHand($event)"
>
</google-map>

<ng-container *ngIf="isCreator$ | async">
  <app-google-maps-button #undoButton [buttonText]="'§§ Undo'" (click)="undoDraw($event)"></app-google-maps-button>

  <app-google-maps-button #drawingButton [buttonText]="drawingEnabled ? '§§Stop' : '§§Start'" (click)="toggleDraw($event)"></app-google-maps-button>

  <app-google-maps-button #drawCarsButton [buttonText]="'§§ Draw Cars'" (click)="drawCars($event)"></app-google-maps-button>
</ng-container>
