<div class="form-group">
  <label [class.floating-label]="value$ | async" [htmlFor]="_id"><span [innerHTML]="label"></span></label>

  <ng-select
    [disabled]="(isDisabled$ | async) === true"
    [ngModel]="value$ | async"
    (ngModelChange)="handleModelChange($event)">
    <ng-option *ngFor="let item of items" [value]="item.value">
      <ng-container
        *ngIf="!!customOptionTemplate; else labelTpl"
        [ngTemplateOutlet]="customOptionTemplate"
        [ngTemplateOutletContext]="{ $implicit: item }"
      ></ng-container>
      <ng-template #labelTpl>
        <span [innerHTML]="item.label"></span>
      </ng-template>
    </ng-option>
  </ng-select>

  <app-form-errors *ngIf="submitted" [control]="formControl"></app-form-errors>
</div>

