<div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between">
  <ng-container *ngIf="questionnaire && step && section && form">
    <app-navigation-header
      [section]="section"
      [stepData]="step | getStepIndexData : questionnaire : section"
      [sectionData]="section | getSectionIndexData : questionnaire"
      [crash]="crash$ | async">
    </app-navigation-header>


    <ng-container *ngIf="step.chapter; else inputTpl">
      <app-chapter (next)="next()" (back)="previous()" [step]="step" class="flex-container non-scrollable"></app-chapter>
    </ng-container>
    <ng-template #inputTpl>
      <ng-container *ngIf="step.main_screen; else baseScreenTpl">
        <form [formGroup]="form" class="flex-container non-scrollable">
          <ng-container *ngFor="let input of inputs">
            <ng-container *appDynamicControl="input | dynamicControlFromInput : submitted : step : next$ : back$; name: input.id"></ng-container>
          </ng-container>
        </form>
      </ng-container>
    </ng-template>

    <ng-template #baseScreenTpl>
      <div class="scrollable">
        <app-info-section [step]="step"></app-info-section>
      </div>
      <app-input-section *ngIf="!step.main_screen && !step.chapter" (back)="previous()" (next)="next()" [disabledButton]="form.invalid" [buttonName]="'car-crash.shared.next' | transloco">
        <div>
          <form [formGroup]="form" class="form-layout">
            <ng-container *ngFor="let input of inputs">
              <ng-container *appDynamicControl="input | dynamicControlFromInput : submitted : step : next$: back$; name: input.id"></ng-container>
            </ng-container>
          </form>
        </div>
      </app-input-section>
    </ng-template>

<!--    <div class="flex flex-column flex-1">-->
<!--      <ng-container *ngIf="step.chapter; else inputTpl">-->
<!--        <app-chapter (next)="next()" (back)="previous()" [step]="step"></app-chapter>-->
<!--      </ng-container>-->

<!--      <ng-template #inputTpl>-->
<!--        <ng-container *ngIf="step.main_screen; else baseScreenTpl">-->
<!--          <form [formGroup]="form" class="form-layout flex-1">-->
<!--            <ng-container *ngFor="let input of inputs">-->
<!--              <ng-container *appDynamicControl="input | dynamicControlFromInput : submitted : step : next$ : back$; name: input.id"></ng-container>-->
<!--            </ng-container>-->
<!--          </form>-->
<!--        </ng-container>-->
<!--        <ng-template #baseScreenTpl>-->
<!--          <app-info-section [step]="step"></app-info-section>-->
<!--          <app-input-section (back)="previous()" (next)="next()" [disabledButton]="form.invalid" [buttonName]="'§§Next'">-->
<!--            <div>-->
<!--              <form [formGroup]="form" class="form-layout">-->
<!--                <ng-container *ngFor="let input of inputs">-->
<!--                  <ng-container *appDynamicControl="input | dynamicControlFromInput : submitted : step : next$: back$; name: input.id"></ng-container>-->
<!--                </ng-container>-->
<!--              </form>-->
<!--            </div>-->
<!--          </app-input-section>-->
<!--        </ng-template>-->
<!--      </ng-template>-->
<!--    </div>-->

    <!--  <div class="p-3 h-100">-->
    <!--    <form [formGroup]="form" class="h-100 form-layout">-->
    <!--      <small *ngIf="step.help_text">{{ step.help_text }}</small>-->
    <!--      <i *ngIf="step.additional_help" (click)="openInfoModal(step)" class="bi bi-info-circle"></i>-->
    <!--      <ng-container *ngFor="let input of inputs">-->
    <!--        <ng-container *appDynamicControl="input | dynamicControlFromInput : submitted : step; name: input.id"></ng-container>-->
    <!--      </ng-container>-->
    <!--    </form>-->
    <!--  </div>-->
  </ng-container>
</div>

