<div  class="h-100 d-block w-100">
  <google-map
    #map
    id="map"
    height="100%"
    width="100%"
    [options]="mapOptions"
  >
    <ng-container *ngIf="value$ | async; let value">
      <map-marker *ngIf="value.markerPosition" [position]="value.markerPosition"></map-marker>
    </ng-container>
  </google-map>

  <app-google-maps-button *ngIf="(isDisabled$ | async) === false" #currentLocation [buttonText]="'§§ Current location'" (click)="showCurrentLocation()"></app-google-maps-button>
</div>
