<div class="progress" *ngIf="progress">
  <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
</div>
<div class="image-container">
  <ng-container *ngFor="let fileId of uploadedFileIds; let i = index">
    <div class="position-relative">
      <div class="icon-wrapper" (click)="removeFile(fileId)">
        remove
      </div>
      <img appImage [imageId]="fileId" alt="Preview">
    </div>
  </ng-container>
</div>
<input [class.error]="error" type="file" accept="image/*" (change)="onFileSelected($event)">

