:host {
  pdf-viewer {
    width: 100%;
    height: 100%;
    position: fixed;
    ::ng-deep {
      input, textarea {
        display: none;
        background-image: none !important;;
      }
    }
  }

  iframe {
    height: 100%;
    width: 100%;
  }
}
