:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;

  .main-icon {
    color: var(--theme-color-primary);
  }

  .next-icon {
    color: var(--theme-color-light-highlight);
  }

  .content-top {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: end;
    flex: 1;
    color: var(--theme-color-background);
    padding: 0 var(--theme-spacing-rem) var(--theme-spacing-rem);
    gap: var(--theme-spacing-rem-half);

    .logo-img {
      margin-left: auto;
      margin-bottom: auto;
      width: 80%;
      max-width: 500px;
    }
  }

  .scan {
    border-bottom: var(--border-small) var(--theme-color-light-highlight);
  }

  .scan, .help {
    font-weight: 600;
    background-color: var(--theme-color-background);
    border-right: var(--border-small) var(--theme-color-light-highlight);
  }

  .edit {
    font-weight: 600;
    background-color: var(--theme-color-background-light-base);
  }
}

