<div class="content-top">
  <img class="logo-img" src="./assets/images/car-bot.png" alt="car-crash" />
  <div class="gap-half flex flex-column">
    <h1>
      Car crash assist
    </h1>
    <div>
      §§ Zanesljiv partner na evropskih cestah
    </div>
  </div>
</div>

<div class="flex">
  <div class="flex flex-1 flex-column">
    <div class="padding scan">
      §§ Scan QR code to join another participant
    </div>
    <div class="padding help">
      Get help about Car crash assist
    </div>
  </div>
  <div class="flex flex-1 padding align-items-end edit">
    Start editing the European accident statement form
  </div>
</div>

<!--<div class="section border-top border-bottom pt-3 pb-3 ps-3" (click)="createCrash()">-->
<!--  Start editing the European accident statement form-->
<!--</div>-->

<!--<div class="section border-bottom pt-3 pb-3 ps-3" [routerLink]="['/join']">-->
<!--  Scan QR code to join another participant-->
<!--</div>-->

<!--<div class="section border-bottom pt-3 pb-3 ps-3">-->
<!--  Get help about Car crash assist2-->
<!--</div>-->
