
<div id="stage-container"></div>

<div class="d-flex justify-content-center">
  <img class="logo-img" src="./assets/images/crashed-car-transparent-20.png" alt="car-crash" width="75%"/>
</div>

<div class="section border-top border-bottom pt-3 pb-3 ps-3" (click)="createCrash()">
  Start editing the European accident statement form
</div>

<div class="section border-bottom pt-3 pb-3 ps-3" [routerLink]="['/join']">
  Scan QR code to join another participant
</div>

<div class="section border-bottom pt-3 pb-3 ps-3">
  Get help about Car crash assist
</div>
