<div class="form-group">
  <input
    id="date-picker"
    class="form-control"
    name="dp"
    ngbDatepicker
    (click)="d.toggle()"
    [minDate]="{year: 1920, month: 1, day: 1}"
    [maxDate]="{year: 2100, month: 1, day: 1}"
    #d="ngbDatepicker"
    [disabled]="(isDisabled$ | async) === true"
    [ngModel]="value$ | async"
    (ngModelChange)="handleModelChange($event)"
    [class.is-invalid]="submitted && formControl.errors"
  />
  <label *ngIf="label" [class.floating-label]="value$ | async " for="date-picker">{{ label }}</label>

  <app-form-errors *ngIf="submitted" [control]="formControl"></app-form-errors>
</div>
