:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .smaller {
    width: 40% !important;
    align-items: center;
    flex: unset !important;
  }

  #damaged-parts {
    width: 70%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    path {
      cursor: pointer;
    }
  }

  .svg-wrapper {
    width: 100%;
  }
}
