:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .svg-wrapper {
    padding: var(--theme-spacing-rem);
    display: flex;
    flex: 1;
    width: 70%;
    max-width: 400px;
    align-items: center;

    &.smaller {
      width: 40%;
      align-items: center;
      margin-right: auto;
    }
  }

  #damaged-parts {
    path {
      cursor: pointer;
      &.selected {
        opacity: 1;
      }
    }
  }
}
