


#damaged-parts {
  width: 100%;
  max-width: 350px;

  &.small {
    width: 100px;
  }

  path {
    fill: transparent;
    stroke: var(--medium-ui-element);
  }

  &.disabled {
    path {
      fill: var(--light-ui-element);
      stroke: var(--medium-ui-element);
    }
  }

  &:not(.disabled) {
    @media (hover: hover) {
      path:hover {
        fill: var(--bs-danger);
        cursor: pointer;
      }
    }
  }

  path.selected {
    fill: var(--bs-danger);
  }
}
