:host {
  .image-container {
    overflow: auto;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: -1rem;
    padding-right: 1rem;
    color: var(--theme-color-type);

    img, .lottie-wrapper {
      width: 7rem;
      height: 5rem;
      object-fit: cover;
      border-radius: var(--theme-border-radius);
    }

    .lottie-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--theme-color-basic);
    }
  }

  app-svg-comp {
    cursor: pointer;
    color: var(--theme-color-strokes-highlight);
  }
}
