<div class="image-container">
  <ng-container *ngFor="let file of files; let i = index">
    <div class="flex gap">
      <img *ngIf="file.id" appImagePreview [src]="file.file" alt="Preview">
      <div *ngIf="!file.id" class="lottie-wrapper">
        <ng-lottie [options]="options" width="32px" height="32px"></ng-lottie>
      </div>
      <ng-container
        [ngTemplateOutlet]="fileRenderTpl"
        [ngTemplateOutletContext]="{ name: file.file_name, size: file.file_size, id: file.id }">
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template let-name="name" let-size="size" let-id="id" #fileRenderTpl>
  <div class="flex flex-1 align-items-center">
    <div class="flex flex-1 flex-column" style="width: 0">
      <div class="text-overflow">
        <strong>{{ name }}</strong>
      </div>
      <div>
        {{ size | sizeToBytes }}
      </div>
    </div>
    <app-svg-comp *ngIf="id" width="1.5rem" [name]="'trash'" (click)="removeFileFromList(id)"></app-svg-comp>
  </div>
</ng-template>
