:host {
  padding-top: var(--theme-spacing-rem-half);
  .form-group {
    position: relative;

    label {
      position: absolute;
      padding: 0.375rem 0.75rem;
      opacity: 0.5;
      top: 3px;
    }

    input:focus + label {
      opacity:1;
      transform: scale(0.75) translateY(-100%) translateX(-30px);
    }
  }
}
