<div class="flex-container non-scrollable">
  <div class="scrollable flex">
    <app-info-section [step]="step" [isSmall]="true">
      <qrcode
        *ngIf="location"
        [qrdata]="location"
        [width]="150"
        [cssClass]="'custom-qr'"
        [errorCorrectionLevel]="'M'"
        class="margin-top">
      </qrcode>
    </app-info-section>
  </div>

  <app-input-section
    (back)="back.emit()"
    (next)="submit()"
    [buttonName]="(phoneNumberControlComponent?.phoneForm?.valid && ((questionnaires$ | async) || []).length < 2) ? ('car-crash.invite.send-invite' | transloco) : ('car-crash.shared.next' | transloco)"
    [title]="'car-crash.invite.with-sms' | transloco"
    [disabledButton]="((questionnaires$ | async) || []).length < 2 && !phoneNumberControlComponent?.phoneForm?.valid">
    <app-phone-number-control #phoneNumberControlComponent [formControl]="formControl" [submitted]="submitted"></app-phone-number-control>
  </app-input-section>
</div>
