.option {
  flex: 1;
  display: flex;
  padding: var(--theme-spacing-rem);
  background-color: var(--theme-color-basic);
  border: var(--border-small) var(--theme-color-strokes);
  border-radius: var(--border-radius-rem-half);
  font-weight: 600;
  align-items: flex-start;

  &.selected {
    border-color: var(--theme-color-primary);
    color: var(--theme-color-primary)
  }

  app-svg-comp {
    color: var(--theme-color-light-highlight)
  }

  .tick {
    color: var(--theme-color-primary)
  }

  &.disabled {
    background-color: var(--light-ui-element);
    cursor: not-allowed;
  }

  &.is-invalid {
    border-color: var(--bs-form-invalid-color);
  }
}
