<ng-container *ngIf="options">

  <div class="flex gap-half" [class.flex-column]="(options || []).length > 1 && !options[0].icon">
    <div
      *ngFor="let option of (options || [])"
      class="option"
      [class.selected]="(value$ | async) === option.value"
      (click)="onOptionClick(option.value)"
    >
      <div class="gap flex-1 flex flex-column">
        <app-svg-comp *ngIf="option.icon" [name]="option.icon" width="1.5rem"></app-svg-comp>
        <div
          [class.is-invalid]="submitted && formControl && formControl.errors"
          [class.disabled]="(isDisabled$ | async) === true">
          {{ (option.label) | asAsync$ | async | transloco }}
        </div>
      </div>
      <app-svg-comp *ngIf="(value$ | async) === option.value" class="tick" name="tick" width="1.3rem"></app-svg-comp>
    </div>
  </div>

  <app-form-errors *ngIf="submitted" [control]="formControl"></app-form-errors>
</ng-container>

