<div class="row align-items-center mb-5">
  <div class="col-2">
    <button type="submit" class="btn btn-sm btn-outline-primary" (click)="back()">
      <i class="bi bi-chevron-left"></i>
    </button>
  </div>
  <div class="col-md-8 col-10 d-flex justify-content-start justify-content-md-center">
    <div class="title-section">
      <div class="title">
        {{ title }}
      </div>
      <div>
        {{ subTitle }}
      </div>
    </div>
  </div>
  <div class="col-0 col-md-2"></div>
</div>
