<div class="main-content d-flex align-items-center flex-column">
  <div class="qr-code">
    {{ sessionId }}
  </div>
  <div>
    <qrcode
      *ngIf="location"
      [qrdata]="location"
      [width]="256"
      [errorCorrectionLevel]="'M'">
    </qrcode>
  </div>

  <div>
    §§Let the other participant scan this
    code to connect with your accident
    statement form
  </div>

  <div class="or-text mt-3 mb-3 text-center">
    --- or ---
  </div>

  <div>
    §§Send invite link via SMS
  </div>

  <app-phone-number-control [formControl]="$any(form.controls['phone_number'])">

  </app-phone-number-control>

  <button type="submit" class="btn btn-primary w-100 mt-3" (click)="sendSms()">
    §§ Send SMS
  </button>

</div>

<app-footer-buttons [buttons]="footerButtons">
</app-footer-buttons>
