/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins');

html, body { height: 100%; }
body {
  margin: 0;
}
app-root {
  display: block;
  height: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
@import "styles/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.form-control::placeholder {
  opacity: 0.4; /* set the opacity value as desired */
}

.filled-icon {
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--bs-light);
}
