/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic');
html, body {
  height: 100%;
  color: var(--theme-color-type);
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}

.d-block {
  display: block !important;
}
@import "styles/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/modal';
@import "~bootstrap-icons/font/bootstrap-icons.css";
//@import 'node_modules/ngx-toastr/toastr';
@import "styles/base-css-overwrite";
@import "styles/helpers.scss";

.form-control::placeholder {
  opacity: 0.4; /* set the opacity value as desired */
}

.filled-icon {
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--bs-primary);
  color: white;
}

@media only screen and (max-width: 300px) {
  .filled-icon {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  .filled-icon {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .btn {
    width: unset;
  }
}

@include media-breakpoint-down(sm) {
  .btn-sm-full-width {
    width: 100%;
  }
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 1rem;
  }
}
@media screen and (max-width: 479px) {
  html {
    font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

// TODO create UI component for info text
.qr-code-info {
  text-align: center;
  font-size: 14px;
  background-color: var(--light-ui-element);
  border-radius: 10px;
  padding: 15px;
  color: var(--medium-ui-element);
}

.form-layout {
  display: flex;
  flex-direction: column;
  gap: var(--theme-spacing-rem);
}

.blur-canvas {
  canvas {
    filter: blur(10px);
  }
}

.full-width-modal {
  max-width: unset !important;
}

.heading-small {
  font-size: 1.3rem;
}

.form-control {
  padding: 0.5rem 1rem;
}

.ng-select-container {
  height: unset !important;
  padding: var(--theme-spacing-rem-half) var(--theme-spacing-rem);

  .ng-value-container {
    padding-left: unset !important;
  }

  .ng-input {
    padding-left: var(--theme-spacing-rem) !important;
  }
}
