/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins');

html, body { height: 100%; }
body {
  margin: 0;
}
app-root {
  display: block;
  height: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
@import "styles/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import "~bootstrap-icons/font/bootstrap-icons.css";

.form-control::placeholder {
  opacity: 0.4; /* set the opacity value as desired */
}

.filled-icon {
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--bs-primary);
  color: white;
}

.form-switch.form-switch-md {
  padding-left: 4.5em;
  input {
    height: 2.5em;
  }
}

.form-switch.form-switch-md .form-check-input {
  margin-left: -4.5em;
  height: 2em;
  width: 4em;
}

.form-switch.form-switch-md label {
  padding-top: 0.5em;
}

@media only screen and (max-width: 300px) {
  .filled-icon {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  .filled-icon {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .btn {
    width: unset;
  }
}

@include media-breakpoint-down(sm) {
  .btn-sm-full-width {
    width: 100%;
  }
}

app-svg-comp svg {
  display: block;
  height: 100%;
  width: 100%;
}
