:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;

  .section-summary {
    display: flex;
    flex-direction: column;
    gap: calc(var(--theme-spacing-rem) * 0.25)
  }

  .half {
    flex-basis: 50%;

    &.label {
      padding-right: var(--theme-spacing-rem);
    }
  }
}
