
#initial-impact {
  width: 100%;
  max-width: 350px;

  path {
    fill: transparent;
    stroke: var(--medium-ui-element);
  }

  &:not(.disabled) {
    g {
      @media (hover: hover) {
        &:hover {
          cursor: pointer;
          line {
            stroke-width: 5px;
            stroke: var(--bs-danger);
          }

          polygon {
            fill: var(--bs-danger);
          }
        }
      }
    }
  }

  g {
    line {
      stroke: var(--medium-ui-element);
      stroke-width: 3px;
    }

    polygon {
      fill: var(--medium-ui-element);
    }

    &.selected {
      line {
        stroke: var(--bs-danger);
      }

      polygon {
        fill: var(--bs-danger);
      }

    }
  }
}
