:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  #initial-impact {
    width: 70%;
    max-width: 400px;
  }

  .arrow-wrapper,.arrow {
    cursor: pointer;
  }

 .selected {
   .arrow-wrapper {
     .cls-4 {
       opacity: 1;
     }
   }

   .arrow {
     .cls-3 {
       fill: var(--theme-color-dark)
     }
   }
 }
}
